// Signup button styles
.signup__btn {
  display: block;
  padding: .2rem 1.5rem;
  height: 3.5rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: transparent;
  border-radius: 4rem;
  border: none;
  background-color: $color-accent-dark;
  cursor: pointer;

    &:focus {
      outline: none;
    }
}

.signup-btn__div {
  padding: 0 1.5rem;
}

// Signup modal styles

.signup-modal {
    display: grid;
    grid-template-rows: 10rem 10rem;
    position: absolute;
    top: 3rem;
    left: 50rem;
    right: 50rem;
    bottom: 60rem;
    background-color: white;
    padding: 3rem;
    outline: none;
    height: 60rem;
    width: 55rem;
    border-radius: 1rem;
    margin: 0 auto;
  }

  .login-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;

    h2 {
      position: relative;
      left: 20rem;
    }
  }

  .close-btn {
    padding: .3rem;
    background-color: white;
    border: none;
    font-size: 3rem;
    cursor: pointer;
  }

  .login-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -6rem;

  input {
    border: 2px solid rgba(62,6358,.2);
    transition: border .3s ease-in-out;
    border-radius: 8px;
    width: 40rem;
    display: inline-block;
    height: 46px;
    padding: 8px 16px;
    position: relative;
    left: 5rem;
    font-family: $font-main;
    font-size: 1.6rem;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--after-open{
  opacity: 1;

}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
