.posts {
    &__container {
        position: relative;
        top: -2rem;
        max-width: 110rem;
        min-height: 100vh;
        margin: auto;
        position: relative;
        left: 15rem;
    }
    &__btn {
        background-color: $color-accent-medium;
        color: $color-accent-dark;
        border: none;
        border-radius: 4rem;
        width: 46%;
        padding: 1.5rem 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        outline: none;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__name {
        display:flex;
        flex-direction: column;
        padding-left: .8rem;
        align-items: center;
    }
    &__msg-container {
        position: relative;
        background-color: #ffffff;
        width: 50rem;
        min-height: 14rem;
        box-shadow: 0 0 20px 0 rgba(50,56,66,0.2);
        border-radius: 1rem;
        padding: 2rem 2rem 3rem 2rem;
        margin: 2rem 0;
        box-sizing: border-box;
    }
    &__post-container {
        padding-bottom: 2.5rem;
    }
    &__msg-container::after {
        content: "";
        position:absolute;
        margin-top:-6px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        left: 3rem;
        top: -.4rem;
    }
    &__msg-btns {
        display: flex;
        position: relative;
        top: 6rem;
        padding-bottom: 4rem;
    }
    &__like-btn {
        display:flex;
        cursor: pointer;
    }
    &__more-btn {
        padding-left: 2rem;
        cursor: pointer;
    }
    &__delete {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        border-radius: .8rem;
        width: 14rem;
        cursor: pointer;
        padding: 1.4rem;
        left: -7rem;
    }
    &__dlt {
        padding: 1.5rem;
    }
}
