.posts {
    &__container {
        position: relative;
        top: -2rem;
        max-width: 110rem;
        min-height: 100vh;
        margin: auto;
        position: relative;
        left: 15rem;
    }
    &__btn {
        background-color: $color-accent-medium;
        color: $color-accent-dark;
        border: none;
        border-radius: 4rem;
        width: 46%;
        padding: 1.5rem 1rem;
        font-size: 1.6rem;
        font-weight: 600;
        outline: none;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__name {
        display:flex;
        flex-direction: column;
        padding-left: .8rem;
        align-items: center;
    }
    &__msg-container {
        position: relative;
        background-color: #ffffff;
        width: 50rem;
        min-height: 20rem;
        box-shadow: 0 0 20px 0 rgba(50,56,66,0.2);
        border-radius: 1rem;
        padding: 2rem;
        margin: 2rem 0;
        box-sizing: border-box;
    }
    &__msg-container::after {
        content: "";
        position:absolute;
        margin-top:-6px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #fff;
        left: 3rem;
        top: -.4rem;
    }
    &__msg-btns {
        display: flex;
        align-items: center;
        position: relative;
        bottom: -1.5rem;
        // justify-content: space-between;
    }
    &__likes-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2rem;
        p {
            position:relative;
            top: -.1rem;
            padding-left: .8rem;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
    &__like-btn {
        cursor: pointer;
    }
    &__more-btn {
        position: relative;
        top: 1rem;
        padding-left: 2rem;
        cursor: pointer;
    }
}
