.home {
  // height: auto;
  max-width: 100%;
  // margin: auto;
  // overflow-x: hidden;
  // background-color:red;

  &__contents {
    display: flex;
    justify-content: center;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__tags {
    display: flex;
    padding: 5rem;
    padding-bottom: 10rem;
  }
  &__tag {
    display: flex;
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: 4rem;
    height: 6rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.8rem;
  }
  &__tag:hover {
    filter: brightness(85%);
  }

  &__section-title {
    padding-bottom: 2rem;
  }
  &__featured-section {
    padding-bottom: 5rem;
  }
}
.tag1 {
  background-color: $color-pink;
}
.tag2 {
  background-color: $color-accent-light;
}
.tag3 {
  background-color: $color-accent;
  width: 18rem;
}
.tag4 {
  background-color: #F3E5F5;

}
.tag5 {
  background-color: #D6F3E9;
  width: 18rem;
}
.tag6 {
  background-color: #FDE2FF;
}
.tag7 {
  background-color: #FFDFDF;
  width: 18rem;
}

// .gm-style-iw-c {
//   opacity: 0;
// }
.gm-style-iw-t::after {
  opacity: 0;
}

.info-window {
  cursor: pointer;
}
